USE [LojaVirtual]
GO
/****** Object:  Table [dbo].[SubGrupo]    Script Date: 26/08/2015 16:01:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SubGrupo](
	[SubGrupoId] [int] IDENTITY(1,1) NOT NULL,
	[GrupoCodigo] [char](4) NOT NULL,
	[SubGrupoCodigo] [char](4) NOT NULL,
	[SubGrupoDescricao] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_SubGrupo] PRIMARY KEY CLUSTERED 
(
	[SubGrupoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[SubGrupo] ON 

GO
INSERT [dbo].[SubGrupo] ([SubGrupoId], [GrupoCodigo], [SubGrupoCodigo], [SubGrupoDescricao]) VALUES (1, N'0012', N'0976', N'PRE TREINO')
GO
INSERT [dbo].[SubGrupo] ([SubGrupoId], [GrupoCodigo], [SubGrupoCodigo], [SubGrupoDescricao]) VALUES (2, N'0010', N'0226', N'CAMA ELASTICA')
GO
INSERT [dbo].[SubGrupo] ([SubGrupoId], [GrupoCodigo], [SubGrupoCodigo], [SubGrupoDescricao]) VALUES (3, N'0001', N'0244', N'MACAQUINHO')
GO
SET IDENTITY_INSERT [dbo].[SubGrupo] OFF
GO
